@charset "UTF-8";
/* CSS Document */

.nube{
	position:relative;
	float:left;
	width:450px;
}

.cNube{
	position:relative;
	float:left;
	background:#FFF;
	color:#FFF;
	height:150px;
	width:150px;
	padding-top:60px;
	text-align:center;
	border-radius: 75px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	font-size:20px;
}

.cNube:hover, .cAct{
	color:#000;
	z-index:+5;
	cursor:pointer;
}
.cAct{
	color:#000;
	z-index:+3;
	cursor:pointer;
}
.conte{
	position:relative;
	float:right;
	width:400px;
	font-size:18px;
	display:none;
}

.contenido {
	font-size:18px;
	font-weight:bold;
	text-align:justify;
}

.contenido li:hover {
	cursor:pointer;
}

.descripcion{
	font-size:16px;
	display:none;
}

.cerrar {
	position:relative;
	float:right;
	background:#FFF;
	font-weight:bolder;
	height:40px;
	width:40px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding-top:5px;
	font-size:20px;
	text-align:center;
}

.cerrar:hover{
	cursor:pointer;
}

.sobre{
	background: url(../img/semi.png);
	color:#000;
	position:relative;
	float:left;
	text-align:center;
	height:40px;
	width:100%;
	font-size:20px;
	margin:0 0 20px 0;
	padding-top:8px;
	visibility:hidden;
}

.imgP {position:relative; float:left; margin-bottom:-50px;}